<div class="container mt-5">
    {{#each erros}}
        <div class="alert alert-danger p-sm-1">{{texto}}</div>
    {{else}}

    {{/each}}
    <h3>Nova Tarefa</h3>
    <div class="card">
        <div class="card-body">
            <form action="/user/tarefas/nova" method="POST">
                <label for="nome">Nome da tarefa:</label>
                <input type="text" id="nome" name="name" placeholder="Nome da tarefa" class="form-control">
                <label for="slug">Descrição:</label>
                <textarea type="text" rows="7" id="descricao" name="descricao" placeholder="Descrição da tarefa"
                    class="form-control "></textarea>
                <label for="slug">Data:</label>
                <input type="text" id="data" name="data" placeholder="____-__-__" class="form-control me-2">
                <button type="submit" class="btn btn-success mt-4"> Adicionar tarefa</button>
            </form>
            <a href="/user/tarefas"><button type="submit" class="btn btn-danger mt-4">Cancelar edição</button></a>
        </div>
    </div>
</div>